*
{
margin:0;
padding: 0;
}
.nav>#user
{
margin-left: 1190px;
margin-top: -50px;
font-size: 16px;
}
.cbox
{
border-style: solid;
border-width: 0.3px;
margin: 230px 369px 20px 569px;
background-color: black;
color:white;
}
.im
{
margin:10px 0px 0px 300px;
}
form>table
{
width:75%;
margin:0px 0px 30px 300px
}
body
{
background-image: url('../images/image.jpg');
background-repeat: no-repeat;
height:100%;
width:100%;
background-size: cover;
}
form>table>label
{
display: inline;
width: 25%;
margin:10px 0px 0px 10px;
}
#cl
{
font-weight: bold;
}
.pay
{
margin:10px 0px 0px 400px;
color:red;
font-weight: bold;
}

